# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/
.venv/

# dotenv environment variables file
.env

# VSCode settings folder
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Python egg info
*.egg-info/
dist/
build/

